*{

    box-sizing: border-box;
}
.card{
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 8px;
}
.card:hover{
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
}
p{
    margin-bottom: 0px;
    font-size: larger;
}