<div class="notes-list container my-3 position-relative" style="min-height: 80vh;">
    <h2>Notes List</h2>
    <div class="card" >
        <div class="card-body" >
            <div class="d-flex justify-content-between">
                <div class="" routerLink="/notes/:id">
                    <p class="fw-semibold fs-5">{{ 'Title' }}</p>
                    <p >{{ 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, sit dicta quibusdam, neque odit nam sed voluptates quae expedita exercitationem dolorum debitis tempora hic distinctio harum illum autem quisquam accusantium ut placeat ipsa doloribus voluptatum. Soluta, doloribus voluptates amet mollitia vitae veniam! Asperiores, corrupti ex!' }}</p>
                </div>
            </div>

        </div>
    </div>

    <button class="btn rounded-pill btn-primary fs-2 px-3 py-0 position-absolute bottom-0 end-0 pb-1">+</button>
</div>