<div class="notes-list container my-3 position-relative" style="min-height: 80vh;">
    <h2>Notes List</h2>
    <div class="card">
        <div class="card-body p-4">
            <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)" class="mb-3">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input type="text" name="title" 
                    [(ngModel)]="note.title" 
                    #titleCtrl="ngModel" class="form-control"
                    id="exampleInputEmail1" 
                    aria-describedby="emailHelp" required>
                    <div class="text-danger" *ngIf="titleCtrl.invalid && titleCtrl.touched">
                        Please enter title
                    </div>
                </div>


                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <textarea 
                    class="form-control" 
                    name="description" 
                    [(ngModel)]="note.description"
                    id="exampleInputPassword1" 
                    #descriptionCtrl="ngModel" 
                    rows="2"
                    required
                    ></textarea>
                    <div class="text-danger" 
                    *ngIf="descriptionCtrl.invalid && descriptionCtrl.touched">
                        Please enter description
                    </div>
                </div>

                <button type="submit" class="btn btn-primary float-end" [disabled]="!noteForm.valid">Submit</button>
            </form>

        </div>
    </div>

   </div>